# 安裝 pandas
若有語法不了解的地方，可以參考以下連結:
- [API reference](https://pandas.pydata.org/docs/reference/index.html)
- [Pandas Tutorial](https://www.w3schools.com/python/pandas/default.asp)
- [Pandas 教程](https://www.runoob.com/pandas/pandas-tutorial.html)

In [ ]:
# 安裝套件
!pip install pandas

In [1]:
import pandas as pd
import numpy as np

#  使用 series

In [2]:
# 使用 list 建立 series 物件
s = pd.Series([11, 22, 33, 44, 55]); s

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [3]:
# 使用 dict 建立 series 物件
myDict = {"蘋果": 60, "水梨": 50}
s = pd.Series(myDict); s

蘋果    60
水梨    50
dtype: int64

In [4]:
# 使用 Numpy 的 ndarray 建立 series 物件
s = pd.Series(np.arange(13, 24)); s

0     13
1     14
2     15
3     16
4     17
5     18
6     19
7     20
8     21
9     22
10    23
dtype: int32

In [5]:
# 建立含索引的 series 物件
myIndex = [3, 6, 9] # 也可以用字串當 index (key)
price = [10, 20, 30]
s = pd.Series(price, index=myIndex); s

3    10
6    20
9    30
dtype: int64

In [6]:
# 使用純量 (scalar) 建立 series
s = pd.Series(7, index=[1,2,3]); s

1    7
2    7
3    7
dtype: int64

In [7]:
# 列出 series 物件索引與值
s = pd.Series([10, 20, 30], index=['apple', 'orange', 'pear']); s

apple     10
orange    20
pear      30
dtype: int64

In [8]:
# 承上，印出所有的值
s.values

array([10, 20, 30], dtype=int64)

In [9]:
# 承上，印出所有的索引編號
s.index

Index(['apple', 'orange', 'pear'], dtype='object')

# series 的運算

In [10]:
# 將切片觀念用在 series 物件
s = pd.Series([11, 22, 33, 44, 55, 66])

In [11]:
s[3]

44

In [12]:
s[2:4]

2    33
3    44
dtype: int64

In [13]:
s[:3]

0    11
1    22
2    33
dtype: int64

In [14]:
s[2:]

2    33
3    44
4    55
5    66
dtype: int64

In [15]:
# series 只能使用 slicing，無法直接使用 -1 來取得最後一個元素的值
s[-1:]

5    66
dtype: int64

In [16]:
# series 物件相加
x = pd.Series([1, 2])
y = pd.Series([3, 4])
x + y

0    4
1    6
dtype: int64

In [17]:
# series 物件相乘
x * y

0    3
1    8
dtype: int64

In [18]:
# 邏輯判斷: 大於 (可以嘗試其它判斷)
x > y

0    False
1    False
dtype: bool

In [19]:
# 擁有相同的 index (或 key)，執行相加
fruits = ['apple', 'orange', 'pear']
x1 = pd.Series([20, 30, 40], index=fruits)
x2 = pd.Series([15, 35, 55], index=fruits)
x1 + x2

apple     35
orange    65
pear      95
dtype: int64

In [20]:
# 擁有不同的 index (或 key)，執行相加，不同索引之間的值相加，會填上 NaN (Not a Number)
fruits1 = ['apple', 'orange', 'pear']
fruits2 = ['apple', 'banana', 'pear']
x1 = pd.Series([20, 30, 40], index=fruits1)
x2 = pd.Series([15, 35, 55], index=fruits2)
x1 + x2

apple     35.0
banana     NaN
orange     NaN
pear      95.0
dtype: float64

In [21]:
# series 的索引是字串 (key)，取得元素內容
fruits = ['apple', 'orange', 'pear']
x = pd.Series([20, 30, 40], index=fruits); x

apple     20
orange    30
pear      40
dtype: int64

In [22]:
# 取得單一 key 的資料
x['apple']

20

In [23]:
# 取得多個 key 的資料，要使用 list 包起來 (在 pandas 很常用)
x[ ['apple', 'orange'] ]

apple     20
orange    30
dtype: int64

In [24]:
# 每個元素都取得平方值
np.square(x)

apple      400
orange     900
pear      1600
dtype: int64