In [1]:
import pandas as pd

# 建立 dataframe

In [2]:
# 新增一個二維 list
list_students = [
    ['Alex', 19],
    ['Bill', 22],
    ['Carl', 14],
    ['Darren', 18]
]

# 建立基本的 dataframe
df = pd.DataFrame(list_students)

# 設定 dataframe 的欄位
df.columns = ['name', 'age']; df

     name  age
0    Alex   19
1    Bill   22
2    Carl   14
3  Darren   18

In [3]:
# 使用 dict 來建立 dataframe
df = pd.DataFrame({
    'name': ['Alex', 'Bill', 'Carl', 'Darren'],
    'age': [19, 22, 14, 18]
}); df

     name  age
0    Alex   19
1    Bill   22
2    Carl   14
3  Darren   18

In [4]:
# 使用 list of dict 來建立 dataframe
data = [
    {'name': 'Alex', 'age': 19},
    {'name': 'Bill', 'age': 22},
    {'name': 'Carl', 'age': 14},
    {'name': 'Darren', 'age': 18},
]

df = pd.DataFrame(data); df

     name  age
0    Alex   19
1    Bill   22
2    Carl   14
3  Darren   18